<!-- Blake put this here -->	

<div id="request-button-javascript" class="center">
  <script>
    // intercept request button
    if ("<%= AppConfig[:archives_request_hidden] %>" != "true") {
      $('#request_sub button.btn.page_action.request')
          .click(function (event) {
            event.preventDefault();
            var $form = $(event.target).closest('form');
            var request_uri =
                $form.find("input[name='request_uri']").val();
            var title = $form.find("input[name='title']").val();
            var params = {
              target: request_uri,
              title: title
            }
            var url =
              '<%= AppConfig[:archives_home] %>/forms/request-form?' +
                $.param(params);
            window.location = url;
            return false;
          })
    }
    else {
      $('#request_sub button.btn.page_action.request')
          .hide();
    }
  </script>

<section>
<div class="panel-footer container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <p>
        <h2 style="color:#f8f9fa;">NCAR</h2>
        <br /><a href="https://ncar.ucar.edu/">NCAR Homepage</a>
        <br /><a href="https://www2.acom.ucar.edu/">ACOM | Atmospheric Chemistry Observations & Modeling</a>
        <br /><a href="https://www.cgd.ucar.edu/">CGD | Climate & Global Dynamics</a>
        <br /><a href="https://www2.cisl.ucar.edu/">CISL | Computational & Information Systems</a>
        <br /><a href="https://edec.ucar.edu/">EdEC | Education, Engagement & Early-Career Development</a>
        <br /><a href="https://www.eol.ucar.edu/">EOL | Earth Observing Laboratory</a>
        <br /><a href="https://www2.hao.ucar.edu/">HAO | High Altitude Observatory</a>
        <br /><a href="https://www.mmm.ucar.edu/">MMM | Mesoscale & Microscale Meteorology</a>
        <br /><a href="https://ral.ucar.edu/">RAL | Research Applications Laboratory</a>
      </p>
    </div>
     <div class="col-sm-4">
       <p>
         <h2 style="color:#f8f9fa;">UCAR</h2>
         <br /><a href="https://www.ucar.edu/">UCAR Homepage</a>
         <br /><a href="https://www.ucar.edu/community-programs">Community Programs</a>
         <br /><a href="https://www.ucar.edu/who-we-are/diversity-inclusion">Diversity & Inclusion</a>
         <br /><a href="https://www.ucar.edu/what-we-offer/education-training">Education & Training</a>
         <br /><a href="https://sundog.ucar.edu/">For Staff</a>
         <br /><a href="https://www.ucar.edu/what-we-do/advocacy/office-government-relations">Government Relations & External Engagement</a>
         <br /><a href="https://www.ucar.edu/who-we-are/membership">Member Institutions</a>
         <br /><a href="https://www.ucar.edu/what-we-do/tech-transfer-engagement">Tech Transfer & Engagement</a>
         <br /><a href="https://www.ucar.edu/what-we-do/university-collaboration">University collaboration</a>
       </p>
    </div>
    <div class="col-sm-4">
      <div class="newsletter-signup">
  <h2 style="color:#f8f9fa;">Subscribe to NCAR|UCAR News</h2>
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="https://ucar.us4.list-manage.com/subscribe/post?u=289033ba2718c3aa3d2b2e76f&amp;id=80502e816e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
      <div id="mc_embed_signup_scroll" class="input-group">
        <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" required="" aria-label="Enter your email address to subscribe to the newsletter" placeholder="Email address" aria-describedby="mce-sign-up">
        <button class="btn btn-primary input-group-text" id="mce-sign-up">Sign Up</button>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><label for="b_289033ba2718c3aa3d2b2e76f_80502e816e">Name</label><input type="text" name="b_289033ba2718c3aa3d2b2e76f_80502e816e" tabindex="-1" value=""></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
</div>
<div class="social pt-4">
<h2 style="color:#f8f9fa;">Follow NCAR|UCAR</h2>
<div class="social-icons text-light">
  <a href="https://www.facebook.com/ncar.ucar" aria-label="Follow us on Facebook"><i class="fa fa-facebook-square"></i></a>
  <a href="https://twitter.com/NCAR_Science" aria-label="Follow us on Twitter"><i class="fa fa-twitter-square"></i></a>
  <a href="https://instagram.com/ncar_ucar" aria-label="Follow us on Instagram"><i class="fa fa-instagram"></i></a>
  <a href="https://youtube.com/ncarucar" aria-label="Follow us on YouTube"><i class="fa fa-youtube"></i></a>
</div>
</div>

      </div>
    </div>
  </div>
</section>

  <footer>
    <div class="legal-footer py-3">
      <div class="container-lg">
        <div class="row">
          <div class="col-12 color:#bbbcbc">
              <ul class="list-horizontal">
              <span><li class="nav-item"><p><b>© 2022 UCAR</b></p></li></span>
              <span><li class="nav-item"><a class="nav-link" href="https://www.ucar.edu/privacy-notice">Privacy</a></li></span>
              <span><li class="nav-item"><a class="nav-link" href="https://www.ucar.edu/cookie-other-tracking-technologies-notice">Cookies</a></li><span>
              <span><li class="nav-item"><a class="nav-link" href="https://www.ucar.edu/terms-of-use">Terms of Use</a></li></span>
              <span><li class="nav-item"><a class="nav-link" href="https://www.ucar.edu/notification-copyright-infringement-digital-millenium-copyright-act">Copyright Issues</a></li></span>
              <span><li class="nav-item"><a class="nav-link" href="https://nsf.gov">Sponsored by NSF</a></li></span>
              <span><li class="nav-item"><a class="nav-link" href="https://www.ucar.edu/who-we-are/ethics">Report Ethics Concern</a></li></span>
              <span><li class="nav-item"><a class="nav-link" href="/staff">Staff Login</a></li></span>
            </ul>
            </div>
          </div>
          </div>
          <div class="col-12">
            <span><b>Postal Address:</b></span>
            <span>P.O. Box 3000, Boulder, CO 80307-3000</span>
            <span class="d-none d-md-inline">•</span>
            <span class="d-block d-md-inline pt-2 pt-md-0"><b>Shipping Address:</b></span>
            <span>3090 Center Green Drive, Boulder, CO 80301</span>
          </div>
        </div>
    <div class="nsf-footer py-3">
      <div class="container-lg">
        <div class="row align-items-center">
          <div class="col-12 col-md-1 pb-3 pb-md-0 mr-md-3">
            <img src="https://www.archives.ucar.edu/profiles/composer/unity-profile/themes/unity/img/nsf-logo.png" alt="NSF Logo" height="100px" width="100px">
          </div>
          <div class="col-12 col-md-10 flex-md-grow-1">
            <p class="mb-0">This material is based upon work supported by the National Center for Atmospheric Research, a major facility sponsored by the National Science Foundation and managed by the University Corporation for Atmospheric Research. Any opinions, findings and conclusions or recommendations expressed in this material do not necessarily reflect the views of the National Science Foundation.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
